table {
	border-collapse: collapse;
	margin: 0 auto;
	text-align: left;
}

@media (min-width: 768px) {
	table {
		margin: 0 10%;
	}
}

td,
th {
	padding: .5rem;
}

.text-center {
	text-align: center;
}

.clickable {
	cursor: pointer;
}
