.counter-generator {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

@media (min-width: 551px) {
	.counter-generator {
		justify-content: flex-end;
		width: 360px;
	}
}

.counter-generator input {
	border: none;
	border-bottom: 2px solid #ff404c;
	outline: none;
	padding: .5rem;
	margin-top: 1rem;
	width: 60%;
}

.counter-generator__btn {
	background-color: #ff404c;
	border: none;
	border-radius: 30px;
	color: #fff;
	font-size: 90%;
	margin-top: 2rem;
	padding: .8rem;
	width: 60%;
}

.counter-generator input::placeholder {
	color: #ff404c;
}

.hidden {
	display: none;
}
