.filters {
	border-radius: 5px;
	float: right;
	font-size: 80%;
	margin-bottom: 1rem;
	padding: .5rem 1rem;
	width: 40%;
}

h6 {
	font-size: 90%;
	margin: 0;
}

.icon {
	margin-left: 1rem;
	cursor: pointer;
}

.sm-input {
	border: none;
	border-bottom: 2px solid #2b2b2b;
	display: inline-block;
	outline: none;
	width: 2rem;
}

.row {
	display: block;
	padding-bottom: .5rem;
}

.row:first-child {
	padding-top: 1rem;
}
.hide {
	display: none;
}

.show {
	display: initial;
	padding-top: 1rem;
}

@media (min-width: 551px) {
	.icon {
		display: none;
	}

	.hide {
		display: initial;
	}

	.filters {
		margin-top: 2rem;
		margin-right: 3%;
		width: 21%;
	}
}
