.filters {
	border-radius: 5px;
	float: right;
	font-size: 80%;
	margin-bottom: 1rem;
	padding: .5rem 1rem;
	width: 33%;
}

.filters__header {
	align-content: center;
	color: gray;
	display: flex;
}

h6 {
	font-size: 95%;
	font-weight: normal;
	margin: 0;
}

.icon {
	cursor: pointer;
	font-size: 90%;
	margin-left: .5rem;
	margin-top: .1rem;
}

.sm-input {
	background-color: #f3f1f1;
	border: none;
	border-radius: 100%;
	display: inline-block;
	margin-left: .1rem;
	outline: none;
	text-align: center;
	width: 1rem;
}

.row {
	align-items: flex-end;
	display: flex;
	padding-bottom: .5rem;
}

.row:first-child {
	padding-top: 1rem;
}

.hide {
	display: none;
}

.show {
	display: initial;
	padding-top: 1rem;
}

@media (min-width: 551px) {
	.icon {
		display: none;
	}

	.hide {
		display: initial;
	}

	.filters {
		margin-top: 2rem;
		margin-right: 3%;
		width: 21%;
	}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
