* {
	font-family: "Avenir Next";
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
	align-content: center;
	background-color: #f7f7f794;
	border-bottom: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	padding: .8rem 1rem;
}

@media (min-width: 376px) {
	header {
		padding: 1rem 10%;
	}
}

main {
	padding: 1rem;
}

.error {
	margin: 0 auto;
	padding: 1rem;
	width: 80%;
}

.link {
	color: #ff404c;
	cursor: pointer;
	font-weight: bold;
}

#full-screen {
	display: flex;
	padding: 40% 10%;
	flex-wrap: wrap;
	justify-content: center;
}

#full-screen > form > input {
	width: 60%;
}

@media (min-width: 376px) {
	#full-screen {
		padding: 20%;
	}
}

@media (min-width: 551px) {
	#full-screen .counter-generator {
		justify-content: center;
		width: 360px;
	}
}
