* {
	font-family: "Avenir Next";
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
	align-content: center;
	background-color: #f7f7f794;
	border-bottom: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	padding: .8rem 1rem;
}

@media (min-width: 376px) {
	header {
		padding: 1rem 10%;
	}
}

main {
	padding: 1rem;
}

.error {
	margin: 0 auto;
	padding: 1rem;
	width: 80%;
}

.link {
	color: #ff404c;
	cursor: pointer;
	font-weight: bold;
}

.intro-text {
	margin: 0 auto;
	padding-top: 3rem;
	width: 55%;
}

@media (min-width: 680px) {
	.intro-text {
		width: 80%;
	}
}
